<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/e7f419a2-db78-4cc3-bf05-096a65353bc6/resourceGroups/rg-jonahdev-ffcg-containerscourse/providers/Microsoft.ContainerRegistry/registries/jonahscontainerffcgcourselabexercises</ResourceId>
    <ResourceName>jonahscontainerffcgcourselabexercises</ResourceName>
    <ResourceGroup>rg-jonahdev-ffcg-containerscourse</ResourceGroup>
    <Subscription>Pay-As-You-Go Dev/Test</Subscription>
    <RegistryUrl>https://jonahscontainerffcgcourselabexercises.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>dd3fe2f3-a4d3-4d34-aa2c-6e7f2fbdca9e</ProjectGuid>
  </PropertyGroup>
</Project>