@page "/"

<h1>Jonah's Lab 1 Hands-on for Forefront Container Course!</h1>
<div>
    <h2> Blazor Web App Server on Docker Image Container</h2>
    <div>
        <h5></h5>
        <img src="https://media.giphy.com/media/vzO0Vc8b2VBLi/giphy.gif" style="width:100%" alt="Programming Dog Gif" />

    </div>
</div>
